.list.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: auto;
}

.list.horizontal > * {
  margin-right: 1rem;
}

.list.vertical {
  display: grid;
  grid-auto-rows: min-content;
  grid-auto-columns: 1fr;
  row-gap: 1rem;
  overflow-y: auto;
}
