#banks-page {
	width: 100%;
	min-height: 100vh;
	max-height: 100vh;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 4rem 1fr 3.5rem;
	grid-template-areas: "top" "content" "bottom";

	#top-nav {
		grid-area: top;
	}

	#content {
		grid-area: content;
        margin-bottom: 3.5rem;
        margin-left:2rem;
        margin-right:2rem;
        max-width: 100vw;
		max-height: 100%;
		overflow: auto;

        #title{
            font-weight: bold;
            font-size: 1.15rem;
        }

		.banks {
			.list-tile {
				display: grid;
				grid-template-columns:auto 1fr 1fr 1fr;
				grid-template-rows: 0.8fr 0.7rem 0.8fr 0.8fr;
                column-gap: 0.5rem;

				grid-template-areas:
					"img name name open"
					"img rating rating ."
					"img address address ."
					"img call message dist";

				.bank-pic {
					grid-area: img;
                    height:6rem;
                    width:auto;
                    object-fit: cover;
				}

				.bank-name {
					grid-area: name;
					font-size: 0.8rem;
					font-weight: 600;
				}

				.star-rating {
					grid-area: rating;
				}

				.bank-address {
					font-size: 0.6rem;
					grid-area: address;
				}

				.button {
					font-size: 0.7rem;
				}

				.call-bank {
					grid-area: call;
				}

				.message-bank {
					grid-area: message;
				}

				.distance {
					font-size: 0.5rem;
					grid-area: dist;
				}

				.more-info {
					grid-area: open;
				}
			}
		}
	}

	#bottom-nav {
		grid-area: bottom;
	}
}
